<footer class="container mt-24">
    <div class="row mx-auto">
        <div class="col-md-8 px-8 pt-8 mb-4 border-1 border-gray-700">
            <div class="row mb-20">
                <div class="col-md-5 pt-12 text-center"
                    style="font-size: 36px;font-family: 'Quicksand', sans-serif;">
                    <h1 class="ml-8">Join Our Design</h1>
                    <h1 class="mt-6 ml-8">Newsletter</h1>
                </div>
                <div class="col-md-7 pt-12">
                    <form class="text-white" style="border: none;">
                        <div class="mb-3">

                            <input type="email" class="form-control bg-transparent focus:outline-none focus:ring-0"
                                id="email" aria-describedby="emailHelp" placeholder="Email Adress"
                                style="border: none;border-bottom: 1px solid gray;border-bottom-right-radius: 0%;border-bottom-left-radius: 0%;">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                            </div>
                        </div>
                        <div class="mb-3">

                            <input type="text" class="form-control bg-transparent focus:outline-none focus:ring-0"
                                id="name" placeholder="Name"
                                style="border: none;border-bottom: 1px solid gray;border-bottom-right-radius: 0%;border-bottom-left-radius: 0%;">

                        </div>
                        <button type="submit" class="btn btn-light mt-2 hover:bg-gray-300" style="color:#FF4500;">Submit
                            <i class="far fa-paper-plane" style="color:#FF4500"></i></button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4 px-8 pt-8 mb-4 border-1 border-gray-700 text-center"
            style="font-family: 'Quicksand', sans-serif;">
            <h1 class=""><i class="far fa-comments" style="font-size: 72px;"></i></h1>
            <h1 style="font-size: 36px;">Join Our Comminty</h1>
            <ul class="list-group list-group-horizontal justify-center items-center text-center text-white mt-20 mb-10"
                style="list-style: none;">
                <li class="list-group-item  bg-transparent text-gray-500">
                    <a class="p-1" href="#"><i class="fab fa-facebook-square fa-2x ıcon"></i></a>
                </li>
                <li class="list-group-item bg-transparent text-gray-500">
                    <a class="p-1" href="#"><i class="fab fa-twitter fa-2x ıcon"></i></a>
                </li>
                <li class="list-group-item bg-transparent text-gray-500">
                    <a class="p-1" href="#"><i class="fab fa-instagram fa-2x ıcon"></i></a>
                </li>
                <li class="list-group-item bg-transparent text-gray-500">
                    <a class="p-1" href="#"><i class="fas fa-envelope fa-2x ıcon"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>