{% extends "base.html"%}


{% block content %}

<div class="bg-image bg-cover bg-center mt-0" style="background-image: url('/static/img/bg.jpg');height:560px;">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7" style="margin-top: 75px;">
                <form method='POST' class="text-lg text-right">
                    {% csrf_token %}
                    {% if error %}<div class='alert alert-{{class}}'>{{ error }}</div>{% endif %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="username" class="form-control" name='username' value='{{ username}}' />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name='email' value='{{ email}}' />
                    </div>

                    <div class='row mb-3'>
                        <div class='col'>
                            <label for="firstname" class="form-label">Firstname</label>
                            <input type="text" class="form-control" name='firstname' value='{{ firstname }}' />
                        </div>
                        <div class='col'>
                            <label for="lastname" class="form-label">Lastname</label>
                            <input type="text" class="form-control" name='lastname' value='{{ lastname}}' />
                        </div>
                    </div>

                    <div class='row mb-3'>
                        <div class='col'>
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name='password' />
                        </div>
                        <div class='col'>
                            <label for="repassword" class="form-label">Re-Password</label>
                            <input type="password" class="form-control" name='repassword' />
                        </div>
                    </div>


                    <div>
                        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" style="background-color:#b8213d ;">
                          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                            
                            <svg class="h-5 w-5 text-indigo-300 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                            </svg>
                          </span>
                          REGISTER
                        </button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}